---
import {useLocale} from '@utils/locale'
import {PandaConfig} from "../config.js";

const {url} = Astro
const {path, t, locale} = useLocale(url)
const {navbar} = PandaConfig

const items = navbar
function isRootPage() {
    return !items.some((item) => url.toString().includes(item.url))
}
---

<nav class={`mb-8 ${url.toString().includes('/posts/') ? 'hidden' : ''}`}>
    <div class="flex flex-wrap gap-6 items-center">
        <a
            rel="prefetch"
            href={path('/')}
            class="nav-link"
            class:list={isRootPage() ? 'active' : ''}
        >
            {t('nav.posts')}
        </a>
        {
            items.map((item) => {
                return (
                    <a
                        rel="prefetch"
                        href={item.url}
                        class="nav-link"
                        class:list={url.toString().includes(item.url) ? 'active' : ''}
                    >
                        {t(item.titleKey)}
                    </a>
                )
            })
        }
    </div>
</nav>
